In [9]:
import pandas as pd
import yfinance as yf
import datetime as dt

In [10]:
pd.set_option('precision', 2)

In [11]:
past = dt.datetime(2021, 1, 1)
now = dt.datetime(2021, 1, 2)

In [19]:
snp = yf.Ticker('ES=F')
gold = yf.Ticker('SI=F')

In [20]:
snp_h = snp.history(period='5d', interval='1d').drop(columns=['Dividends', 'Volume', 'Stock Splits'])
gold_h = gold.history(period='5d', interval='1d').drop(columns=['Dividends', 'Volume', 'Stock Splits'])
gold_h

             Open   High    Low  Close
Date
2021-04-12  25.15  25.17  24.81  24.85
2021-04-13  25.42  25.42  25.42  25.42
2021-04-14  25.51  25.51  25.51  25.51
2021-04-15  25.48  25.71  25.38  25.67

In [16]:
snp_h * gold_h

                Open      High       Low     Close
Date
2021-04-12  7.16e+06  7.18e+06  7.09e+06  7.13e+06
2021-04-13  7.15e+06  7.23e+06  7.06e+06  7.22e+06
2021-04-14  7.20e+06  7.24e+06  7.13e+06  7.14e+06
2021-04-15  7.16e+06  7.24e+06  7.14e+06  7.23e+06