In [1]:
import pandas as pd
import yfinance as yf
import datetime as dt

In [2]:
pd.set_option('precision', 2)

In [6]:
past = dt.datetime(2021, 1, 1)
now = dt.datetime(2021, 1, 2)

In [20]:
snp = yf.Ticker('ES=F')
rupee = yf.Ticker('EURUSD=X')

In [21]:
snp_h = snp.history(period='5d', interval='1d').drop(columns=['Dividends', 'Volume', 'Stock Splits'])
rup_h = rupee.history(period='5d', interval='1d').drop(columns=['Dividends', 'Volume', 'Stock Splits'])
rup_h

            Open  High   Low  Close
Date
2021-03-22  1.19  1.19  1.19   1.19
2021-03-23  1.19  1.19  1.19   1.19
2021-03-24  1.18  1.19  1.18   1.18
2021-03-25  1.18  1.18  1.18   1.18
2021-03-26  1.18  1.18  1.18   1.18

In [23]:
snp_h * rup_h

               Open     High      Low    Close
Date
2021-03-22  4627.24  4708.73  4613.85  4670.06
2021-03-23  4693.67  4704.11  4615.83  4653.58
2021-03-24  4624.87  4659.28  4580.63  4594.89
2021-03-25  4586.99  4624.98  4525.52  4607.69
2021-03-26  4601.50  4683.83  4592.20  4669.14